.main {
  background-color: c(pink);

  @include nav-toggled {
    display: none;
  }
}

.main.index,
.main.events,
.main.designer,
.main.wardrobe {
  min-height: calc(100vh - #{$header * 2});
  display: grid;
  padding: 10px 0;
  width: 100vw;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  // grid-template-columns: 4% 1fr 1fr repeat(4, minmax(10rem, 1fr)) 1fr 1fr 4%;
  grid-template-columns: 4% 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 4%;
  grid-template-areas: "hero hero hero hero hero hero hero hero hero hero"
  ". . . row1 row1 row1 row1 . . ."
  "row2 row2 row2 row2 row2 row2 row2 row2 row2 row2"
  "row3 row3 row3 row3 row3 row3 row3 row3 row3 row3";
  @include mobile-and-tablet {
    grid-template-columns: 4% 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 4%;
  }

  grid-template-rows: auto;
  // align-items: no;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40%;
    background-color: c(pink);
    content: "";
    z-index: -1;
  }

  .slider-wrap,
  .hero {
    grid-area: hero;
    position: relative;

    h1 {
      position: absolute;
      top: 2rem;
      left: 4%;
      color: c(black);

      &.light {
        color: #fff;
      }
    }

    img {
      width: 100%;
    }
  }

  .intro-block {
    grid-area: row1;
    text-align: center;
    align-self: center;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid c(grey, medium);

    @include mobile-and-tablet {
      grid-column: 2 / 10;
    }

    h1 {
      font-weight: normal;
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }

    p,
    small {
      color: c(grey, medium);
      display: block;
    }

    a.button {
      margin-top: 2rem;
    }

    small+a.button {
      margin-top: 1rem;
    }
  }

  .homepage-details {
    grid-column: 2 / 6;
    grid-row: 3;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-gap: 2rem;
    // grid-template-areas: "homedetailsimage homedetailsbuttons";

  }

  .homepage-details__image {
    // grid-area: homedetailsimage;
    img {
      position: relative;
      width: 100%;
    }
  }

  .homepage-details__buttons {
    // grid-area: homedetailsbuttons;
    grid-column: 7 / 10;
    grid-row: 3;
    align-self: center;
  }

  @supports (display: contents) {

    .homepage-details,
    .event {
      grid-column: auto / auto;
      display: contents;
      margin-top: 2rem;
      grid-gap: inherit;
    }

    .homepage-details__image {
      grid-column: 3 / 7;
      grid-row: 3;
      margin-top: 3rem;
      margin-bottom: 3rem;

      @include mobile-and-tablet {
        grid-column: 2 / 10;
        margin-bottom: 0;
        margin-top: 0;
      }

      img {
        position: relative;
        width: 100%;
      }
    }

    .homepage-details__buttons {
      justify-self: center;
      grid-column: 7 / 9;
      grid-row: 3;
      padding-left: 2rem;
      padding-top: 2rem;

      @include mobile-and-tablet {
        grid-column: 2 / 10;
        grid-row: 4;
        padding-left: 0;
        padding-top: 0;
        margin-bottom: 2rem;
      }

      h2 {
        font-weight: normal;
        font-size: 1.4rem;
        margin-top: 2rem;
      }

      .button {
        margin-top: 1rem;
      }
    }
  }

  @include tablet {
    min-height: 15rem;
  }

  @include nav-toggled {
    display: none;
  }

  .dresses {
    grid-area: row3;
    grid-column: 2 / 10;

    h2 {
      font-size: 1.1rem;
      width: 100%;
      position: relative;
      text-align: center;
    }

    .heart {
      opacity: 0;
      transition: opacity 0.2s ease;
      &[data-selected="1"] {
        opacity: 1;
      }
      &:hover {
        opacity: 0.7;
      }
    }

    .heart,
    .heart-o {
      transform: translate(-50%, -0.3em);
      position: absolute;
      right: 0.5rem;
      height: 1.5rem;
      width: 1.2em;
      path {
        fill: #fff;
        @include mobile {
        }
      }
    }
  }
}

.main.index {
  padding-top: 0;
}

.main.designers,
.main.wardrobe,
.main.about,
.main.browse-all {
  display: grid;
  padding: 10px 0;
  width: 100vw;
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  grid-template-columns: 4% minmax(1fr, 46rem) 1fr 4%;
}

.intro {
  grid-column: 2 / 7;
  grid-row: 1;

  p {
    max-width: 50rem;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50vw;
    background-color: c(pink);
    content: "";
    z-index: -1;
  }

  @include mobile-and-tablet {
    grid-column: 2 / 6;
  }
}

.dresses {
  grid-row: 2;
  grid-column: 2 / 4;
  grid-gap: 4rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

  @include mobile {
    flex-direction: column;
    grid-column: 1 / 7;
  }
}

.generic_text {
  width: 80%;
  margin-left: 5%;
  position: relative;
  h1, h2, h3, h4, li, p {
    max-width: 60ch;
  }
  p {
    font-size: 0.8rem;
  }
}