.nav {
  .slash {
    height: 3 * 1rem;
    width: 3 * 0.42rem;
    @include tablet {
      height: 2 * 1rem;
      width: 2 * 0.42rem;
    }
    @include mobile {
      display: none;
    }
  }
}

.nav__container {
  padding: 0;
  list-style-type: none;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  margin-top: $p;
  flex-wrap: wrap;
  @include mobile {
    display: none;
    flex-direction: column;
    justify-content: center;
    [data-nav-toggled="1"] & {
      display: flex;
    }
  }
  @include tablet {
    display: flex;
  }
}

.nav__container--sm {
  @include tablet {
    display: none;
  }
}

.nav__item {
  height: auto;
  @include mobile {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &:last-child {
    a.nav__link:after {
      display: none;
    }
  }
  > div {
    display: none;
  }
}

.nav__item.has-children {
  @include mobile {
    text-align: center;
  }
  > div {
    position: absolute;
    background-color: c(black, light);
    color: c(white, dark);
    display: flex;
    justify-content: space-around;
    padding: $p/2 $p/4;
    left: auto;
    transform: translate(-25%, 0rem);
    border-top: 1rem solid c(pink);
    z-index: 10;
    top: auto;
    visibility: hidden;
    max-height: 0;
    max-width: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.2s ease;
    @include mobile {
      position: relative;
      flex-direction: column;
      visibility: visible;
      max-height: 100%;
      max-width: 100%;
      overflow: visible;
      opacity: 1;
      transform: translate(0, 0);
      li {
        margin-bottom: $p;
        margin-top: $p;
      }
    }
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: -2rem;
      height: 1rem;
      width: 1rem;
      background-color: transparent;
      border: 1rem solid #000;
      border-left: 1rem solid transparent;
      border-right: 1rem solid transparent;
      border-top: 1rem solid transparent;
      @include mobile {
        display: none;
      }
    }
    div {
      padding: 0 $p;
    }
    h2 {
      margin-top: 0;
      font-size: 1.3rem;
      font-weight: normal;
      border-bottom: 1px dashed c(white, dark);
      @include mobile {
        font-size: 1rem;
        padding-bottom: $p/2;
      }
    }
    ul {
      padding-left: 0;
      width: auto;
      min-width: 180px;
    }
    li {
      a {
        text-decoration: none;
        font-size: 0.75rem;
        letter-spacing: 0.05rem;
        transition: color 0.2s ease;
        &:hover {
          color: c(pink, bright);
        }
        span {
          font-size: 0.7em;
          color: c(pink, bright);
        }
      }
    }
  }
  &:hover > div {
      visibility: visible;
      max-height: 100%;
      max-width: 100%;
      overflow: visible;
      opacity: 1;
  }
}

.nav__link {
  padding: 0 $p/4 0 $p/4;
  text-decoration: none;
  color: c(black);
  margin: 0 $p/2;
  @include tablet {
    margin: 0 $p*0.5;
  }
}