.dress, .product {
  display: inline-flex;
  position: relative;
  &.big {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
  }
  margin: 0;

  .dress-name {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  h2 {
    margin-bottom: 0;
    padding-top: $p/2;
    padding-bottom: $p/2;
  }


  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .heart-container {
    position: absolute;
    top: $p;
    right: $p*2;
    z-index: 1;
  }
  .image, .video {
    position: relative;
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
  }

video {
    object-fit: cover;
    width: 100%;
    height: 46vw;
  }

  p {
    margin-left: 1rem;
    margin-right: 1rem;
    @include mobile {
      max-width: 100% ;
    }
  }

  img {
    position: relative;
    width: 100%;
    object-fit: cover;
    display: block;
    height: auto;
  }

  .button {
    margin-top: 1rem;
    text-align: center;
  }
}

.main.designer .dresses .dress h2 {
  position: absolute;
  bottom: 0;
  color: white;
  width: 100%;
  background-color: rgba(c(black, light), 0.8);
  opacity: 0;
  transition: opacity 0.2s ease;
  @include mobile-and-tablet {
    opacity: 1;
  }
}

.main.designer .dresses .dress:hover {
  h2 {
    opacity: 1;
  }
}

.main.designer .dresses {
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
}

.dress-booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: $p;
  p {
    font-size: 1rem;
  }
}

.view-designers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 4rem;
  grid-column: 2/-2;
  @include mobile-and-tablet {
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    grid-column-gap: 1rem;
    padding: 0 2%;
  }
}

.view-designers .dress .image, .video + a.button {
  margin-left: 1rem;
  margin-top: 1rem;
  @include mobile-and-tablet {
    margin-top: 0;
    margin-left: 0;
  }
}

.view-designers .dress .image, .video {
    display: grid;
    justify-content: stretch;
    align-items: center;
    position: relative;
    > * {
      grid-column: 1;
      grid-row: 1;
    }
    a {
      display: block;
      z-index: 1;
      font-weight: normal;
      font-size: 1.5rem;
      color: white;
      text-align: center;
      text-decoration: none;
      text-shadow: -1px 1px 0px rgba(c(pink, bright), 1), -2px 4px 8px rgba(c(pink), 0.5);
      &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
    img {
      filter: brightness(0.85);
    }
    &:hover img {
      filter: brightness(1);
    }
}

[data-current="designers"] main h2 {
  @include peg-board;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 3rem;
}