.slider {
  padding-left: 0;
}

.slider-wrap, .hero {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-row: 1;
  justify-content: center;
  align-items: center;
  .tns-outer {
    grid-column: 1/-1;
    grid-row: 1;
  }
  .hero {
    grid-column: 2;
    grid-row: 1;
  }
  .intro-block {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.slider-wrap, .sample-sale-wrap, .visit-showroom-wrap,
.hero {
  grid-column: 1/-1;
  position: relative;
  display: flex;
  justify-content: center;
  h1 {
    color: c(black);
    &.light {
      color: #fff;
    }
  }

  img {
    width: 100%;
    height: auto;
  }
  .sample-sale, .visit-showroom {
    list-style: none;
    padding-left: 0;
    width: 100%;
  }
}

.sample-sale .slide, .visit-showroom .slide {
  display: grid;
  justify-content: stretch;
  justify-items: center;
  align-items: center;
  > * {
    grid-column: 1;
  }
  img {
    grid-row: 1/5;
  }
  h2  {
    grid-row: 2;
    margin-top: auto;
  }
  a  {
    grid-row: 3;
    margin-bottom: auto;
  }
  h2 {
    font-weight: normal;
    font-size: 5rem;
    color: white;
    text-shadow: -1px 1px 0px rgba(c(pink, bright), 1), -2px 4px 8px rgba(c(pink), 0.5);
    margin-bottom: 4rem;
    @include mobile-and-tablet {
      font-size: 3.2rem;
      // margin-bottom: 0.5rem;
    }
  }
}

.visit-showroom .slide, .sample-sale .slide {
  .button {
    color: white;
    text-decoration-color: white;
  }
}

.intro-block {
  grid-row: 1;
}

.intro-block, .designer-details {
  grid-column: 1/-1;
  z-index: 2;
  text-align: center;
  align-self: center;
  margin-bottom: 0;

  // @include mobile-and-tablet {
  //   grid-column: 2 / 10;
  //   margin-bottom: -1rem;
  // }

  h1 {
    font-weight: normal;
    font-size: 5rem;
    color: white;
    text-shadow: -1px 1px 0px rgba(c(pink, bright), 1), -2px 4px 8px rgba(c(pink), 0.5);
    @include mobile-and-tablet {
      font-size: 3.2rem;
    }
  }

  h2 {
    @include peg-board;
  }

  p,
  small {
    font-family: "BrandonGrotesque";
    color: black;
    display: block;
    text-transform: initial;
    color: #fff;
    display: inline-flex;
    padding:0.1rem 1rem;
  }

  > div {
    display: flex;
    flex-direction: column;
    * + * {
      margin-top: 1rem;
    }
  }

  a.button {
    margin-top: 0rem;
  }

  small+a.button, a.button+small {
    margin-top: 1rem;
  }
}

.main.designer {
  .designer-details {
    margin-bottom: 0;
  }
}