@charset 'utf-8';
@import './common/vendor';
@import './common/typography';
body {
  font-family: "BrandonGrotesque";
  text-transform: uppercase;
  line-height: 1.6;
  font-weight: normal;
  color: #0B0B0B;
background-color: hsla(8, 87%, 93%, 1);
}


.landing-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1.5s ease;
  &.fade-in {
    opacity: 1;
  }
  img {
    width: 30vw;
    margin-bottom: 2vh;
    .pink-bg & {
      margin-top: 8vh;
    }
  }
  .so-excited {
    width: 20vw;
  }
  .insta {
    margin-top: 5vh;
    img {
      width: 10vw;
    }
  }
}

h1 {
  font-size: 3vw;
  margin-bottom: 0;
  &:after {
    content: "";
    display: block;
    position: relative;
    margin: 0 auto;
    height: 0.2rem;
    background-color: #4C4C4C;
    width: 15vw;
    margin-bottom: 3vh;
  }
}

p {
  font-size: 3vw;
  margin-top: 6vh;
}

@media screen and (max-width: 600px) {
  .landing-wrap {
    img {
      width: 60vw;
      margin-bottom: 2vh;
      .pink-bg & {
        margin-top: 15vh;
      }
    }
    .so-excited {
      width: 40vw;
    }
  }
  h1 {
    font-size: 8vw;
    margin-bottom: 0;
    &:after {
      content: "";
      display: block;
      position: relative;
      margin: 0 auto;
      height: 0.2rem;
      background-color: #4C4C4C;
      width: 15vw;
      margin-bottom: 3vh;
    }
  }
  p {
    font-size: 5vw;
    margin-top: 3vh;
  }
}

p.pink {
  color: #EDC1DF;
  font-weight: bold;
  font-size: 8vw;
  text-shadow: 0 0 1vw #0B0B0B;
}