.nav:not( .mm-menu ) {
  display: none;
}
body[data-js="1"] {
  .nav:not( .mm-menu ) {
    display: block;
  }
}

.nav {
  .slash {
    height: 3 * 1rem;
    width: 3 * 0.42rem;
    @include tablet {
      height: 2 * 1rem;
      width: 2 * 0.42rem;
    }
    @include mobile {
      display: none;
    }
  }
}

.nav__container--sm {
  @include tablet {
    display: none;
  }
}

.nav__item {
  font-size: clamp(20px, 5vw, 30px);
  font-family: 'Bebas Neue';
  letter-spacing: 0.05rem;
  line-height: 1.5;
}

.nav__link {
  &:hover {
    text-decoration: underline;
    text-decoration-color: c(pink, bright);
  }
}

.mm-menu .active {
  text-decoration: underline;
  text-decoration-color: c(pink, bright);
}

.mm-menu .mm-listitem_opened > a {
  text-decoration: underline;
  text-decoration-color: c(pink, bright);
}

.mm-menu a:hover, .mm-menu a.active {
  text-decoration: underline;
  text-decoration-color: c(pink, bright);
  text-decoration-thickness: from-font;
}

.side-menu {
  padding-top: 3.4rem;
  background-color: c(black, light);
  color: c(white, dark);
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  a.hamburger {
    font-family: 'Bebas Neue';
    background-color: c(black, light);
    color: c(white, dark);
    text-transform: uppercase;
    appearance: none;
    border: none;
    position: sticky;
    top: 3.5rem;
    text-align: center;
    + a {
      position: sticky;
      top: 10rem;
    }
  }
  .envelope-icon {
    position: sticky;
    top: 17rem;
  }
  span {
    display: flex;
    width: 3rem;
    @include mobile-and-tablet {
      width: 2rem;
    }
    height: 2px;
    margin-bottom: 0.6rem;
    background-color: white;
  }
  a:not(.hamburger) {
    width: 2rem;
    margin-top: 3rem;
    @include desktop {
      display: none;
    }
  }
  a.envelope-icon {
    width: 2.8rem;
  }
}

.mm-navbar__title {
  display: none;
}

.nav {
  --mm-color-background: #{c(black, light)};
  --mm-color-background-emphasis: #{c(black)};
  --mm-color-border: transparent;
  --mm-color-text: #{c(white, dark)};
  --mm-color-button: #{c(white, dark)};
}

.nav__item:hover {
  // background-color: #333;
}

.nav__item label {
  @include sr-only;
}

.nav__item form {
  padding-left: 1.6rem;
}

.nav__link {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}