.dress {
  display: inline-flex;
  width: 27%;
  position: relative;
  h2 {
    display: none;
    @include mobile-and-tablet {
      display: block;
    }
  }

  .dress-name {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.3s ease;
    .dress-heart {
      position: absolute;
      bottom: 40%;
      left: 0;
      right: 0;
      svg {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  &:hover {
    .dress-name {
      opacity: 1;
      @include mobile-and-tablet {
        opacity: 0;
      }
    }
  }

  @include mobile {
    width: 94%;
  }

  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 5rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .image {
    position: relative;
    width: 100%;
    height: auto;
    background-color: c(black);
    display: inline-flex;
    justify-contnt: flex-start;
    align-items: center;
    padding: 0.2rem;
  }

  img {
    position: relative;
    width: 100%;
    border: 0.2rem solid #fff;
    display: block;
  }

  .button {
    margin-top: 1rem;
    text-align: center;
  }
}