.main.about {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  @include desktop-s {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
  padding: 0 4%;
  grid-template-rows: auto;
  width: 96%;
  max-width: 96%;
  grid-column-gap: 2rem;
  grid-row-gap: 0;
  p {
    text-transform: initial;
    max-width: 42rem;
    img {
      position: relative;
      width: auto;
      height: auto;
    }
  }
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30%;
    content: "";
    z-index: -1;
  }
}

.about__title {
  grid-column: 1/-1;
  grid-row: 2;
  text-align: center;
}
.about__block {
  position: relative;
  img {
    position: relative;
    width: 100%;
    height: auto;
  }
  h2 {
    @include peg-board;
  }
  p {
    @include desktop-s {
      max-width: 100% !important;
    }
  }
}

.about__block-divider {
  position: absolute;
  right: -0.5rem;
  top: 2rem;
  bottom: 0;
  border-right: 1px solid c(pink, bright);
  @include mobile {
    display: none;
  }
}

.about__block--full {
  border-top: 1px solid c(pink, bright);
  padding-top: $p;
}

.about__block--full {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  @include desktop-s {
    grid-template-columns: minmax(0, 1fr) auto auto minmax(0, 1fr);
  }
  gap: $p;
  .about__cta {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    width: 26%;
    height: auto;
  }
  div {
    @include desktop-s {
      grid-column: 2;
    }
    display: flex;
    div {
      display: flex;
      flex-direction: column;
      padding-left: $p;
    }
  }
  h2 {
    text-align: left;
    margin-bottom: 0;
    p {
      max-width: 42ch;
    }
  }
}