.contact {
  position: relative;
  display: grid;
  grid-template-columns: 4% repeat(6, 1fr) 4%;
  grid-template-rows: auto;
  width: 100%;
  max-width: 100%;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  grid-template-areas: "a a a a a a a a" ". b b b b b b ." ". c c c d d d ." ". e e e e e e ." ". f f f f f f ."  "g g g g g g g g";
  @include mobile-and-tablet {
    grid-template-areas: "a a a a a a a a" ". b b b b b b ." ". c c c c c c ." ". d d d d d d ." ". e e e e e e ." ". f f f f f f ."  "g g g g g g g g";
  }
  margin-bottom: 0;
  p {
    text-transform: initial;
  }
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30%;
    content: "";
    z-index: -1;
  }
}

.contact__title {
  grid-area: b;
  h1 {
    letter-spacing: 1rem;
  }
}

.contact__intro {
  grid-area: c;
  p {
    max-width: 20rem;
  }
  a {
    display: block;
  }
}

.contact__images-top, .contact__images-bottom {
  grid-area: a;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0;
  a {
    display: block;
    position: relative;
  }
  img {
    position: relative;
    width: 100%;
  }
}

.contact__images-bottom {
  grid-area: g;
}

.contact__form {
  grid-area: d;
  input,
  select,
  textarea {
    max-width: 28rem;
    padding-left: 0.3rem;
  }
  textarea {
    padding-top: 0.3rem;
  }
  input[type="submit"] {
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1rem;
  }
  form {
    margin-bottom: 1rem;
  }
}

.contact__map {
  grid-area: e;
}

.contact__opening {
  grid-area: f;
  dl {
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    dt {
      grid-column: 2;
    }
    dd {
      grid-column: 3;
    }
  }
  p {
    text-align: center;
  }
}