.shop-container {
  position: relative;
  display: grid;
  grid-template-columns: 4% repeat(6, 1fr) 4%;
  grid-template-rows: auto;
  width: 100%;
  max-width: 100%;
  grid-column-gap: 2rem;
  grid-row-gap: 4rem;
  grid-template-areas: ". a a a b b b .";
  margin-bottom: 2rem;
  @include mobile-and-tablet {
    grid-template-areas: ". a a a a a a ." ". b b b b b b .";
  }
}

.shop-container__images {
  grid-area: a;
  display: flex;
  .shop-container__images__featured {
    width: 78%;
    margin-right: 0.5rem;
  }
  .shop-container__images__thumbs {
    width: 25%;
    display: flex;
    flex-direction: column;
    img {
      margin-bottom: 0rem;
    }
  }
  img {
    position: relative;
    width: 100%;
    transition: opacity 0.3s ease;
    &:hover {
      opacity: 0.7;
    }
  }
}

.shop-container__info {
  grid-area: b;
  text-align: center;
  ul {
    padding-left: 1rem;
  }
  li, p {
    font-size: 0.8rem;
    text-align: left;
  }
  p.price {
    font-size: 1.2rem;
    text-align: center;
    &:after {
      content: "";
      position: relative;
      display: block;
      border-bottom: 1px solid rgba(c(black), 0.2);
      width: 80%;
      margin: 1rem auto;
    }
  }
  p.smaller {
    line-height: 1.5;
  }
  p.helper {
    @extend .smaller;
    text-align: center;
  }
  h2 {
    font-size: 1rem;
  }
  button {
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.shop-variations {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  div {
    margin-right: 0.5rem;
    input {
      visibility: hidden;
    }
    label {
      padding: 0.2rem 0.5rem;
      border: 1px solid c(black);
      cursor: pointer;
      font-size: 1rem;
    }
    input[type=radio]:checked ~ label {
      background-color: c(black);
      border: 1px solid c(pink);
      position: relative;
      z-index: 0;
      &:before {
        content: "";
        position: absolute;
        top: -2px;
        right: -2px;
        bottom: -2px;
        left: -2px;
        background-color: c(black);
        z-index: -1;
      }
      color: c(white);
    }
  }
}

.products .product a {
  font-size: 0.8rem;
}


.snipcart__icon--blue-light path, .snipcart__icon--blue-dark path {
  fill: c(black, light);
}

.snipcart-cart-button--highlight, .snipcart__box--badge-highlight, .snipcart-form-radio:checked+label:before {
  background-image: linear-gradient(85deg,c(black), c(black, light));
}

.snipcart-modal__container {
  label {
    text-transform: initial;
  }
}

.snipcart-shipping-rates-list-item--highlight {
  border-color: c(pink, bright);
}

.snipcart__actions--link {
  color: darken(c(pink, bright), 15%);
}

.snipcart-cart-button {
    font-family: 'Bebas Neue';
    text-transform: uppercase;
    font-size: 1.8rem;
}